{# current panel:  
	shows list of currently linked entities
	data-update-url holds de url the front script will need to update this panel from server
#}

<div class="jzlink-panel-currents jgzlink-subpanel" data-update-url="{{ path('jgzzmedialinker_panel_current', { 'linkername': linker.name, 'host_id': hostEntity.id }) }}">

	{# list of linked entities #}
	{% if linkedEntities|length > 0 %}
	<ul class="jzlink-panel-list">
		{% for linked in linkedEntities %}

		{% set linkedRowTemplate = jzlinker_row_template(linker) %}

		<li data-id="{{ linked.id }}" class="jzlink-entity-row">
			{% include linkedRowTemplate with { 'linked': linked, 'linker': linker, 'hostEntity': hostEntity } %}
		</li>

		{% endfor %}
	</ul>

	{% else %}
	    <p class="label label-info">Sin documentos relacionados</p>
	{% endif %}
</div>